* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

#background {
  margin: auto;
  top: 150px;
  width: 500px;
  height: 100px;
  position: relative;
  z-index: 20;
}

#buttonStartContainer {
  margin: auto;
  top: 50px;
  width: 350px;
  height: 100px;
  position: relative;
  /* background-color: lightblue; */
  text-align: center;
  z-index: 10;
}

.card {
  margin: auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  /* box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2); */
}

.card__face--front {
  /* background-image: linear-gradient(to bottom right, var(--primary), var(--secondary)); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:blueviolet;
}

#txtFront {
  /* top: 0px; */
  margin: 0 auto 50px;
  width: 300px;
  height: 50px;
  position: relative;
  /* background-color: aqua; */
  z-index: 10;
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  color: white;
}

#imageBack {
  margin: auto;
  top: 20px;
  width: 220px;
  height: 180px;
  position: relative;
  /* background-color: orangered; */
  text-align: center;
  z-index: 20;
}

#txtBack {
  margin: auto;
  top: 65px;
  width: 300px;
  height: 50px;
  position: relative;
  /* background-color: aqua; */
  z-index: 20;
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}
#buttonPlayContainer {
  /* top: -185px; */
  margin: 0 auto 50px;
  /* left: 20px; */
  width: 135px;
  height: 50px;
  position: relative;
  /* background-color: blue; */
  text-align: center;
  z-index: 10;
}


.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
  background-color: white;
}

.buttonPlay {
  background-color: yellow;
  border: 2px solid black;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 115px;
  transition-duration: 0.4s;
  font-weight: bold;
}

.buttonPlay:hover {
  background-color: green;
  color: white;
}
.buttonStart {
  background-color: yellow;
  border: 2px solid black;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 115px;
  transition-duration: 0.4s;
  font-weight: bold;
}

.buttonStart:hover {
  background-color: green;
  color: white;
}